.Main{    
    display: block;
}
.main-container{
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.text-over-image{
    position: relative ;
    text-align:right;   
}

.news-list{
    height: 500px;
    width: 100%;
    background-color: aqua;
}
.selection{
    height: 300px;
    width: 100%;
    background-color: yellow;
}
.full-read{
    height: 500px;
    width: 100%;
    background-color: green;
}
.test{
    
    background-color: red;
    height: 800px;
}
