@font-face {
  font-family: irsans;
  src: url(./assets/fonts/irsans-1.ttf);
}
@font-face {
  font-family: irsansbold;
  src: url(./assets/fonts/IRAN-Sans-Bold.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'irsans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
